//gmrmarketing.pkgs.visualstudio.com/_packaging/gmr-npm/npm/registry/:username=gmr-npm
//gmrmarketing.pkgs.visualstudio.com/_packaging/gmr-npm/npm/registry/:_password=N3R5eHV4dTd3a2dtdnh0NjJuMnpwbzdkY2V1bTVodDJtd3k0c3NoeG5rMm5wc3NwaHJlcQ==
//gmrmarketing.pkgs.visualstudio.com/_packaging/gmr-npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//gmrmarketing.pkgs.visualstudio.com/_packaging/gmr-npm/npm/:username=gmr-npm
//gmrmarketing.pkgs.visualstudio.com/_packaging/gmr-npm/npm/:_password=N3R5eHV4dTd3a2dtdnh0NjJuMnpwbzdkY2V1bTVodDJtd3k0c3NoeG5rMm5wc3NwaHJlcQ==
//gmrmarketing.pkgs.visualstudio.com/_packaging/gmr-npm/npm/:email=npm requires email to be set but doesn't use the value
@gmrmarketing:registry=https://gmrmarketing.pkgs.visualstudio.com/_packaging/gmr-npm/npm/registry/
always-auth=true